body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* img{
    width: 25px;
    height: 25px;
  } */
  @font-face {
    font-family: Itim;
    src: url("src/assets/Fonts/Itim/Itim-Regular.ttf");
  }
  .bmi-container{
    background-color: lightgray;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-family:Itim;
  
  
  }
  .bmi-calculator{
    background-color: rgb(255, 255, 255);
    width: 80vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 4vh;
    box-shadow: 0vh 0vh 10vh #2839348a;
    color: #282834;
  
  }
  .bmi-title-section{
    /* background-color: #64948c; */
    width: 70vh;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    user-select: none;
  }
  .application-title{
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    justify-content: center;
    text-transform: capitalize;
  }
  .application-title > img{
    width: 7vh;
    height: 7vh;
  }
  .application-description{
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-weight: lighter;
    margin-top: 1vh;
  }
  
  .bmi-control-section{
    /* background-color: cadetblue; */
    width: 70vh;
    height:36vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .cm-input, .kg-input{
    /* background-color: #fff; */
    width: 64vh;
    height: 10vh ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  
  }
  
  #cm-range-input, #kg-range-input{
    width: 42vh;
  }
  .range-input-icon{
    width: 6vh;
    height: 6vh;
  
  }
  .cm-range-title, .kg-range-title{
    /* background-color: #000; */
    /* color: #fff; */
    width: 11vh;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 3vh;
  
  }
  
  .bmi-results-section{
    /* background-color: lightgray; */
    width: 70vh;
    height: 32vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .bmi-calculated-results{
    /* background-color: #fff; */
    width: 60vh;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .bmi-calculated-results > .title{
    /* background-color: #282834;
    color: #fff; */
    font-size: 6vh;
    font-weight: normal;
    width: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
  }
  .bmi-calculated-results > img{
    width: 8vh;
    height: 8vh;
    margin-right: 1vh;
    user-select: none;
  
  }
  .bmi-result-message{
    /* background-color: rgb(170, 170, 170); */
    width: 60vh;
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bmi-result-message > .message{
    font-size: 3.5vh;
    margin-bottom: 2vh;
    font-weight: bold;
  
  }
  .bmi-result-message > img{
    width: 7vh;
    height: 7vh;
  }